*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}

/* styling header */
header{
    background-image: url(../images/banner/banner1.png);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
     text-align: left;

    
}
.banner-header{
    margin-left: 700px;
    padding: 50px;
}

.banner-heading{

font-weight: 700;
font-size: 65px;

}
.banner-sub-heading{
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    
}
.primary-button{
    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 32px;

    
}

/* desining body */
.previous-year{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
    margin: 130px;
}
.failure-year{
    font-weight: 700px;
    font-size: 40px;
    margin-bottom: 24px;
    
}
.failure-body{
    font-weight: 400;
font-size: 16px;
color: #444343;
margin-bottom: 50px;
}
li{
    list-style: none;
    margin-bottom: 8px;
    font-weight: 400;
font-size: 16px;
color: #444343;
}
.fa-check{
    color: #16D887;
    margin-right: 15px;
  

}
/* designing plan */
.plan{
    text-align: center;
   
}
.my-plan{
    font-weight: 700;
    font-size: 40px;

}
.action-plan{
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}
.skill-name{
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 700;
font-size: 30px;
}
.skill-details{
    font-weight: 500;
font-size: 20px;
margin-bottom: 130px;
}

.upper-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    width: 1000px;
    height: 300px;
    
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    
   
    margin: 50px;
    border-radius: 5px;
}
